POSTGRES_IMAGE=postgres:latest
POSTGRES_CONTAINER_NAME=vdt-whiteboard-postgres
POSTGRES_DB=vdt_whiteboard
POSTGRES_USER=vdt
POSTGRES_PASSWORD=vdt_local_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATA_ROOT=/Users/lto5/Code/vdt-whiteboard/.data/postgres

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public
